body{
    background-color: rgb(235, 204, 167);
}
h1{
    color: rgb(46, 79, 79); 
    font-size: 70px;
    text-align: center;
}
nav{
    background-color: antiquewhite;
    text-align: center;
}
article{
    background-color: antiquewhite;
    text-align: center;
}
footer{
    background-color: antiquewhite;
    text-align:center;
   
}
.fgr{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.prize{
    font-size: 40px;
    color: steelblue;
}
.contact{
    font-size: 20px;
    color: black;
}
.a{
    font-size: 20px;
    color:rgb(46, 79, 79);  
    font-style: italic;
}